@import url('https://cdn.jsdelivr.net/npm/sf-font@1.0.0/stylesheet.min.css');

@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --text-tiny: 0.625rem;
  --text-tiny--line-height: calc(1 / 0.625rem);
}

@layer components {
  .card {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: var(--radius-2xl);
  }
}

#projects-dashboard {
  font-family: 'SF Pro Display', sans-serif;
}

#projects-dashboard * {
  box-sizing: border-box;
}
